<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.capgemini.daos.PagoDAO">
	<resultMap type="com.capgemini.entities.PagoEntity" id="pagoResultMap">
		<id column="pag_id" property="id" jdbcType="INTEGER"/>
		<result column="pag_re_id" property="idReserva" jdbcType="INTEGER"/>
		<result column="pag_total" property="total" jdbcType="FLOAT"/>
		<result column="pag_fecha_pago" property="fechaPago" jdbcType="DATE"/>
	</resultMap>

	<select id="findAll" resultMap="pagoResultMap">
		SELECT * FROM pago
	</select>
	
	<select id="findById" resultMap="pagoResultMap">
		SELECT * FROM pago WHERE pag_id = #{id}
	</select>
	
	<insert id="addPago" parameterType="PagoEntity">
		INSERT INTO pago (pag_re_id, pag_total, pag_fecha_pago)
		values(#{idReserva},#{total},#{fechaPago})
	</insert>
	
	<update id="updatePago" parameterType="PagoEntity">
		UPDATE pago SET 
			pag_re_id = #{idReserva},
			pag_total = #{total},
			pag_fecha_pago = #{fechaPago},
			WHERE pag_id = #{id}
	</update>
	
	<delete id="deletePago">
		DELETE FROM pago WHERE pag_id = #{id}
	</delete>
</mapper>